body
{
	padding: 10px 0 80px;
}

h1
{
 text-align:center;
}

#submit
{
 background:#66ccff;
 border-radius:5px;
 color:white;
 width:100px;
}

#weight
{
  border-radius:5px;
  width:200px;
  height:20px;
}

div
{
  height: 100px;
  width: 400px;
  margin: auto;
  display: inline-block;
}

div label
{
 display:block;
  font-size:1.25em;
}

#planet
{
 height:33px;
 width:200px;
 font-size:1.25em;
}

#myp
{
	text-align: center;
	font-size: 2em;
	color: red;
}
}
